## PKI
pki {{ domain }} cert		"/etc/ssl/{{ domain }}_fullchain.pem"
pki {{ domain }} key		"/etc/ssl/private/{{ domain }}_private.pem"

## Tables
table aliases			file:/etc/mail/aliases
table domains			file:/etc/mail/domains
table passwd			passwd:/etc/mail/passwd
table virtuals			file:/etc/mail/virtuals
table blacklist-recipients	file:/etc/mail/blacklist-recipients

## Limits
smtp max-message-size 50M

## Ports
listen on lo0
listen on lo0 port 10028 tag DKIM
listen on egress tls pki {{ domain }} hostname \
	{{ domain }}
listen on egress smtps pki {{ domain }} hostname \
	{{ domain }}
## If you use neomutt as a client
## on the same server as me you need
## this rule
listen on lo0 port submission tls-require pki {{ domain }} \
	hostname {{ domain }} auth <passwd>
##
listen on egress port submission tls-require pki {{ domain }} \
	hostname {{ domain }} auth <passwd>

action "mda_with_aliases" mda \
	"/usr/local/bin/rspamc --mime -e '/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest}'" \
	alias <aliases> user vmail

action "mda_with_virtuals" mda \
	"/usr/local/bin/rspamc --mime -e '/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest}'" \
	virtual <virtuals> user vmail

action "relay" relay

action "dkim_relay" relay host smtp://127.0.0.1:10027

match from any mail-from <blacklist-recipients> for domain <domains> reject
#match for local action "mda_with_aliases"
match for local action "mda_with_virtuals"
match from any for domain <domains> action "mda_with_virtuals"
match tag DKIM for any action "relay"
match from local for any action "dkim_relay"
match auth from any for any action "dkim_relay"
